<!doctype html>
<html ng-app="plinko-app">
  <head>
    <meta charset="utf-8">
    <title>Plinko</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel='stylesheet' type='text/css' href='../bower_components/angular-material/angular-material.css'>

    <script type='text/javascript' src="../bower_components/angular/angular.js"></script>
    <script type='text/javascript' src='../bower_components/angular-aria/angular-aria.js'></script>
    <script type='text/javascript' src='../bower_components/angular-animate/angular-animate.js'></script>
    <script type='text/javascript' src='../bower_components/angular-material/angular-material.js'></script>

    <script type='text/javascript' src="../bower_components/pixi.js/bin/pixi.js"></script>
    <script type='text/javascript' src="../bower_components/Matter/build/matter.js"></script>
    <script type='text/javascript' src="../bower_components/tween.js/src/Tween.js"></script>

    <script type='text/javascript' src='scripts/app.js'></script>
    <script type='text/javascript' src="scripts/board/board.js"></script>
    <script type='text/javascript' src="scripts/board/spawner.js"></script>
    <script type='text/javascript' src="scripts/constants/properties.js"></script>
    <script type='text/javascript' src="scripts/constants/sprites.js"></script>
    <script type='text/javascript' src="scripts/game/end-game.js"></script>
    <script type='text/javascript' src="scripts/game/game.js"></script>
    <script type='text/javascript' src="scripts/physics/physics.js"></script>
    <script type='text/javascript' src="scripts/players/player.js"></script>
    <script type='text/javascript' src="scripts/players/token.js"></script>
    <script type='text/javascript' src="scripts/renderer/renderer.js"></script>
    <script type='text/javascript' src="scripts/renderer/resize.js"></script>
    <style>
      body {
        background:black;        
      }

      .centre {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body ng-controller="plinko-controller">
    <canvas class="centre" game resize style="z-index: 1;"></canvas>
    <div class="centre" resize style="z-index: 2;" layout="column">
      <div flex layout="row">
        <div flex id="game">        
        </div>
        <md-content flex="20" id="userlist" class="md-whiteframe-z2">
          <md-list class="md-dense" flex>
            <md-list-item class="md-1-line" ng-repeat="player in players" ng-click="null">
            <img ng-src="{{player.token.avatar}}" class="md-avatar" alt="{{item.who}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ player.name }}</h3>
            </div>
            </md-list-item>
          </md-list>
        </md-content>
      </div>
      <md-content layout="row" flex="10" id="inputbar" class="md-whiteframe-z2">
        <form flex name="playerEntryForm" ng-submit="addPlayer()">
          <md-input-container flex class="md-icon-float md-block">
            <label>Add a new player</label>
            <input ng-model="newuser.name" type="text" ng-disabled="gameInplay||(players.length >= maxPlayers)" >
          </md-input-container>
        </form>
        <md-button flex="20" ng-click="startGame();" ng-disabled="gameInplay" class="md-raised md-primary">Plinko!</md-button>
      </md-content>
    </div>
  </body>
</html>